<?xml version="1.0" encoding="UTF-8" ?>
<phpunit bootstrap='cmtest_startkapow.php'>
	<testsuites>
		<testsuite name='api'>
			<directory>lib/api</directory>
		</testsuite>
		<testsuite name='hello'>
			<directory>hello</directory>
		</testsuite>
		<testsuite name='lib'>
			<directory>lib</directory>
		</testsuite>
		<testsuite name='dobj'>
			<directory>lib/dobj</directory>
		</testsuite>
		<testsuite name='misc'>
			<directory>lib/misc</directory>
		</testsuite>
		<testsuite name='db'>
			<directory>db</directory>
		</testsuite>
		<testsuite name='dal'>
			<directory>lib/dal</directory>
		</testsuite>
		<testsuite name='dal-nodb'>
			<directory>lib/dal-nodb</directory>
		</testsuite>
		<testsuite name='nav'>
			<directory>lib/nav</directory>
		</testsuite>
		<testsuite name='stl'>
			<directory>lib/stl</directory>
		</testsuite>
		<testsuite name='single'>
			<directory>lib/single</directory>
		</testsuite>
	</testsuites>
</phpunit>
