.team_thumb{
    width: 205px;
    height: 205px;
}
#header{
    border-bottom: 2px solid #ccc;
    margin-bottom:30px;
}
#header #top-logo{
    text-align: left;
}
img.menu-logo{
    position:relative;
    top:15px;
}
ul#top-links{
    padding-bottom: 20px;
}
ul#top-links a:hover, ul#top-links a.active{
    text-decoration: none;
    background: #f2cc4b;
    border-radius:5px;
}
ul#top-links a{
    padding:5px;
    font-size: 14px;
    font-weight: 300;
}
#right-top-btns{
    text-align:right;
}

h2.pheader{
    font-weight: normal;
    font-size: 36px;
}
h3{
    font-size: 30px;
    color: #e34036;
    font-weight: 300;
    font-family: 'Lato';
}
h4{
    font-size: 26px;
    color: #e34036;
    font-weight: 300;
    font-family: 'Lato';
}
h5{
    font: 16px 'Lato';
    font-weight: 300;
    text-transform: uppercase;
}
label.checkbox{
    font: 14px 'Lato';
    font-weight: 300;
}
h3.pheader{
    color: #fff;
    font-weight: normal;
}
ul.three-section-pics h3{
    display: inline;
}
ul.three-section-pics li{
    background: url('images/CM_Logo.png');
    width:340px;
    height:222px;
    padding: 20px 40px;
    display: inline;
}
.navbar-inverse .navbar-inner{
	background-color: #8C1515 !important;
	background-image: linear-gradient(to bottom, #8C1515, #610F0F) !important;
	/*color: #fff;*/
}
.top-user-info{
	float:right;
	color: #fff;
	padding-top: 0.3%;
}
.brand{
	font-family: 'Source Sans Pro',Arial,Helvetica,sans-serif;
	font-weight: 300;
	font-size: 27px;
}
ul.quiz-area{
    list-style-type: none;
}
.q_answer_list{
    margin-left: 20px;
}
ul#bottom-links{
    margin:0;
}
ul#bottom-links li, ul#top-links li{
    display:inline;
    text-transform:uppercase;
    font-family: 'Lato', sans-serif;
}
.footer{
	background: #97cb38;
	color: #fff;
	font-size: 14px;
        font-weight: 300;
        padding: 10px;
        margin-top:60px;
}
.footer a{
	color: #fff;
	text-decoration: none;
        padding:5px 9%;
}
.footer-logo{
	float:left;
}
.cm-button{
    background: #e34036;
    color: #fff;
    font-size:24px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    padding: 10px 20px;
    border-radius: 0;
    border: none;
    text-shadow: none;
}
.cm-button-small{
    font-size:15px;
    font-family: 'Lato', sans-serif;
    padding: 5px 15px;
}
.cm-button:hover{
    background: #b5332b;
    color: #ccc;
}
.btn-green{
    background: #97cb38;
}
.btn-green:hover{
    background: #78a22c;
}
.copy{
	text-align: center;
}
.k2c{
	float:left;
}
.client{
	float:right;
	
}
.center-elem{
    margin-left:auto;
    margin-right: auto;
    display: block;
}
.btn-big{
    width:250px;
}
input[type="text"],input[type="email"],input[type="password"],textarea,select{
    border: solid 1px #ccc !important;
    border-radius: 0 !important;
    font-size:24px !important;
    padding: 20px !important;
    color: #b2b2b2;
    font-weight: 300;
}
.section-break{
    height: 60px;
}
.img-strip-ul{
    list-style-type: none;
}
.img-strip-ul li{
    display: inline;
}
.input-big{
    width:75%;
}
.input-half{
    width:20%;
}
.fullwidth{
    width:75%;
}
.full{
    width: 100%;
}
.half{
    width:50%;
}
.success-txt{
    color: #97cb38;
}
.failure-txt{
    color: #b5332b;
}