*~
*.swo
*.swp
*.swk
*.swm
*.swn
*.swj
*.log
localdbconn.php
htdocs/db_test*
nbproject/
htdocs/error_log
htdocs/error_log*
htdocs/php.ini*
htdocs/apc.php
.DS_Store
*error_log*
culturemesh
htdocs/cache
htdocs/cache*
htdocs/apc.php
htdocs/data/s_*
htdocs/.htaccess
