@import "style";
@import "max-992px";

/* 
 * Header
 */

#header {
  height:80px;
}

#top-logo > a > img {
	position:relative;
	top:0px;
	width:180px;
	margin-top:0px;
}

.header-mobile-icons {
	top:23px;
}

.custom-icon {
	width: 1.5em;
	height: 1.5em;
}

/*
 * NETWORK
 */

div.post-image-container {
	width: 45px; 
	padding: 3px;
}

div.post-textarea-container {
	width: 100%;
}

/* 
 * Profile 
 */
.nav.nav-pills.dashboard
{
	font: 14px Lato-Light, sans-serif;
}

.nav.nav-pills.dashboard > li > a
{
	padding: 10px 8px;
}

/*
 * ABOUT PAGES
 */

h2.pheader {
	font-size:20px;
	padding: 10px 0;
}

h3.pheader {
	font-size:18px;
}
