@import "style";

body {
  background:$cm_gray;
}

#header {
  background:$cm_white;
}

.footer{ 
  background: $cm_white;
}

/*
* HOME
*/

#stage-area {

}

#stage-title {
	font-size:24px;
}

#search-form.stage {
	background:none;
	padding-left:0;
}

div.searchbar-home input[type="text"] {
	height:43px;
	font-size: 16px;
}

div.searchbar-home input[type="submit"] {
	font-size: 16px;
	margin:0;
}


/*
* NETWORK
*/

div.net-right {
	width:100%;
	overflow:hidden;
}

div.net-header {
	background:$cm_orange;
	color:white;
	padding: 10px 0;
}

div.net-info {
	text-align:center;
}

h1.h-network {
	color:white;
}

p.lrg-network-stats {
	background:none;
}

button.network {
	border: 1px solid white;
}

div.tab-container {
	height:50px;
	background-color:white;
}

div.net-right ul.nav-tabs {
	list-style:none;
	position:relative;
	float:left;
	display:block;
	left:50%;
	border:none;
}

div.net-right ul.nav-tabs li {
	position:relative;
	float:left;
	display:block;
	right:50%;
}

div.network.tab-content {
	margin-left: 0;
}

#post-wall-ul {
	padding-left: 0;
}

li.network-post {
	background-color:$cm_white;
	margin-top:5px;
}

div.replies {
	margin-left:0;
	border-top:1px solid $cm_gray;
	background-color:$cm_l_gray;
}

div.post-text {
	width:100%;
	height:auto;
}

p.network {
	max-width:none;
}

p.network.reply {
	max-width:none;
}

ul.replies {
	padding:0;
}

button.post {
	background-color:$cm_orange;
}
