@import "style";

body {
  background:$cm_gray;
}

#header {
  background:$cm_white;
}

.footer{ 
  background: $cm_white;
}

ul {
	padding:0;
}

.mobile-widget {
	width:92%;
	margin:5px auto;
	border: 1px solid $cm_d_gray;
}

.mobile-section-header {
	width:92%;
	margin:5px auto;
	border: 1px solid $cm_white;
	background-color:$cm_orange;
	color: $cm_white;
	font-size:16px;
	padding:4px;
}

.full-button {
	width:92%;
}

/*
* HOME
*/

#stage-area {

}

#stage-title {
	font-size:24px;
}

#search-form.stage {
	background:none;
	padding-left:0;
	width: 89%;
	margin: 0px auto;
}

div.searchbar-opening {
	margin-bottom:5px;
}

div.searchbar-home input[type="text"] {
	height:43px;
	font-size: 16px;
	width:100%;
	margin: 0px auto;
}

div.searchbar-home input[type="submit"] {
	font-size: 16px;
	margin: 0px auto;
	width:100%;
}

div.searchbar-home span {
	color: #6e6e6e;
	font-size: 16px;
}

div.searchbar-home select {
	background: rgba(0, 0, 0, 0) repeat scroll 0 0;
	border: solid 1px;
	color: #6e6e6e;
	font-family: "Lato-Light",sans-serif;
	font-size: 16px;
	margin-bottom: 3px;
	padding: 0;
}


/*
* NETWORK
*/

div.net-right {
	width:100%;
	overflow:hidden;
}

div.net-header {
	background:$cm_orange;
	color:white;
	padding: 10px 0;
}

div.net-info {
	text-align:center;
}

h1.h-network {
	color:white;
}

p.lrg-network-stats {
	background:none;
}

button.network {
	border: 1px solid white;
}

div.tab-container {
	height:50px;
	background-color:white;
}

div.net-right ul.nav-tabs {
	list-style:none;
	position:relative;
	float:left;
	display:block;
	left:50%;
	border:none;
}

div.net-right ul.nav-tabs li {
	position:relative;
	float:left;
	display:block;
	right:50%;
}

div.network.tab-content {
	margin-left: 0;
}

#post-wall-ul {
	padding-left: 0;
}

li.network-post {
	background-color:$cm_white;
	margin-top:5px;
	padding-bottom:0;
}

div.post-reply-section {
	border-top:1px solid $cm_d_gray;
	background-color:$cm_l2_gray;
}

div.replies {
	margin-left:0;
	background-color:$cm_l_gray;
}


.post-text {
	width:98%;
	height:auto;
}

p.network {
	max-width:none;
}

p.network.reply {
	max-width:none;
}

ul.replies {
	padding:0;
}

li.network-event {

}

button.post {
	background-color:$cm_orange;
}

ul.network-event {
	padding:0;
}

div.post-image-container {
	width:45px;
}

div.post-image-container img {
	border: 1px solid $cm_gray;
}

div.post-button-container {
	float:right;
	padding:3px;
}

input[type="submit"].post.send
{
	border-width:0;
	background-color:$cm_green;
	color:$cm_white;
	border-radius:2px;
	height:45px;
}

div.post-textarea-container {
	width: 100%;
}

div.post-textarea-container textarea{
	border: 1px solid $cm_d_gray;
}

.post-icon { 
	position:relative;
	margin-right: 13px;
	top: 20px;
}

button.delete-button {
	background-color:$cm_white;
}

.event-text
{
	width:98%;
}

/*
 * PROFILE
 */
h2.dashboard
{
	color:$cm-white;
	margin-top:0;
}

p.profile
{
	text-align:center;
	color:$cm-white;
}

.profile_left_panel {
	width:100%;
	background-color:$cm-orange;
	padding-bottom:10px;
	padding-top:25px;
}

#profile_image {
	border-radius:50%;
	border: 1px $cm_green_soft solid;
	width:150px;
	height:150px;
	background-color:white;
}

.profile_dashboard
{
	width:100%;
	padding:0;
}

.nav.nav-pills.dashboard
{
	font: 15px Lato-Light, sans-serif;
}

.nav.nav-pills.dashboard > li > a
{
	color: #404000;
	height:28px;
}


.nav.nav-pills.dashboard > li > a:hover,
.nav.nav-pills.dashboard > li > a:focus
{
	color: #EF5330;
	background-color: white;
}

.nav.nav-pills.dashboard > .active > a,
.nav.nav-pills.dashboard > .active > a:hover,
.nav.nav-pills.dashboard > .active > a:focus
{
	margin-bottom:10px;
	color: #EF5330;
	background-color: white;
}


div.tab-container ul.nav-pills {
	position:relative;
	float:left;
	display:block;
	left:50%;
}

div.tab-container ul.nav-pills li {
	position:relative;
	float:left;
	display:block;
	right:50%;
}

input[type="checkbox"].account {
	margin-left:0;
	position:relative;
}

.net-info.dashboard {
	padding: 5px;
}

input.dashboard
{
    width:85%;
    border:1px solid $cm_d_gray;
    height:36px;
}

select.dashboard
{
    width:85%;
    border:1px solid $cm_d_gray;
    height:36px;
}

textarea.dashboard
{
    width:85%;
    border:1px solid $cm_d_gray;
}

#pic-upload-div
{
	margin:0;
}

.cm-button.dash {
    padding: 2px 20px;
}

/*
 * SEARCH RESULTS
 */

#searchable-results {
	width:93%;
	margin: 0px auto;
}

div.net-info.results {
	padding: 10px 0;
}

div.net-info.results.possible {
	padding: 10px 0;
}

div.net-info.results.active {
	padding-top: 10px;
	padding-bottom: 0px;
}

input[type="submit"].launch-network
{
	height:45px;
	background-color:#97CB38;
	font:18px Lato, sans-serif;
	color:white;
	border:none;
	border-radius:5px;
}

div.network-stats {
	background-color: $cm_d_gray;
	padding: 5px 0;
}

/******
 * TEMPLATE FILES
 */
div.content-top {
	/***
	margin-top:-20px;
	padding-top:20px;
	*/
}

/********
 * UPLOAD
 ********/
.fileupload-button {
	height:20px;
	width:20px;
}

.fileupload-button.picture {
	background-size:19px 19px;
}

/********
 * HELP AND ERROR
 ********/
.help-tooltip {

}
